@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&display=swap');

.value-container {
    display: flex;
    justify-content: space-between;
}

.value-container__text, .value-container__value {
    color: black;
    font-weight: 800;
}

.pink {
    color: #FD377E;
}

p {
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #343A40;
}


